<!-- LIST -->

<!-- <h3>Default List</h3>

<ul fd-list>
  <li fd-list-item>
    <a
      fd-list-link
      [navigationIndicator]="true"
      [navigated]="true"
      (click)="toggleRoot()"
    >
      <i fd-list-icon *ngIf="!subRootOpen" glyph="feeder-arrow"></i>
      <i fd-list-icon *ngIf="subRootOpen" glyph="navigation-down-arrow"></i>
      <span fd-list-title> Root </span>
      <span fd-list-secondary> 1 </span>
    </a>
  </li>
  <li *ngIf="subRootOpen">
    <ul fd-list>
      <li fd-list-item>
        <span fd-list-title> List item 1 </span>
        <span fd-list-secondary> 1 </span>
      </li>
      <li fd-list-item>
        <a
          fd-list-link
          [navigationIndicator]="true"
          [navigated]="true"
          (click)="toggleChildList()"
        >
          <i fd-list-icon *ngIf="!subListOpen" glyph="feeder-arrow"></i>
          <i fd-list-icon *ngIf="subListOpen" glyph="navigation-down-arrow"></i>
          <span fd-list-title> List item 2 </span>
          <span fd-list-secondary> 1 </span>
        </a>
      </li>

      <li *ngIf="subListOpen">
        <ul fd-list class="margin-left">
          <li fd-list-item>
            <a fd-list-link [navigationIndicator]="true" [navigated]="true">
              <span fd-list-title> sub List item 1 </span>
              <span fd-list-secondary> 1 </span>
            </a>
          </li>
          <li fd-list-item>
            <a fd-list-link [navigationIndicator]="true" [navigated]="true">
              <span fd-list-title> sub List item 2 </span>
              <span fd-list-secondary> 1 </span>
            </a>
          </li>
        </ul>
      </li>

      <li fd-list-item>
        <span fd-list-title> List item 3 </span>
        <span fd-list-secondary> 1 </span>
      </li>
      <li fd-list-item>
        <span fd-list-title> List item 4 </span>
        <span fd-list-secondary> 1 </span>
      </li>
    </ul>
  </li>
</ul> -->

<!-- VERTICAL NEVIGATION -->

<!-- <fd-vertical-navigation>
  <li fd-list-navigation-item>
    <span fd-list-navigation-item-text> Overview </span>
  </li>
  <li fd-list-navigation-item>
    <button fd-list-navigation-item-arrow></button>
    <span fd-list-navigation-item-text>
      Calendar Calendar Calendar Calendar
    </span>
    <ul fd-list>
      <li fd-list-navigation-item>
        <span fd-list-navigation-item-text>Second level item 1</span>
      </li>
      <li fd-list-navigation-item [indicated]="true">
        <span fd-list-navigation-item-text
          >Second level item 2 Second level item 2 Second level item 2
        </span>
      </li>
    </ul>
  </li>
  <li fd-list-navigation-item>
    <fd-icon glyph="feeder-arrow"></fd-icon>
    <span fd-list-navigation-item-text> Customers </span>
    <ul fd-list>
      <li fd-list-navigation-item>
        <span fd-list-navigation-item-text>Second level item 1</span>
      </li>
      <li fd-list-navigation-item>
        <span fd-list-navigation-item-text>Second level item 2</span>
      </li>
    </ul>
  </li>
  <li fd-list-navigation-item>
    <span fd-list-navigation-item-text> Deliveries </span>
  </li>
</fd-vertical-navigation> -->

<app-table-tree></app-table-tree>
